body {
    margin: 0 Auto;
}

.nav-bar{
    background-color: rgba(161,32,3);
    height: 80px;
    width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    height:60px;
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 30%;
    
}

.nav-list {
    float: right;
    margin-right: 30px;
    margin-top: 50px;
    /* border: solid black 3px; */
}

.nav-list a {
    text-decoration: none;
}

.nav-list a:hover {
    text-decoration: underline;
    color: white;
}

.list-item {
    display: inline;
    padding-right: 30px;
    color: white;
    /* border: 1px solid whitesmoke; */
    text-align: center;
}

.list-item:hover {
    background-color: black;
    color: white;
    
}

.main {
    height: 1000px;
    width: 100%;
    background-image: url(../img/gibson-head-stock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    /* padding-top: 20px; */
}

.main-box {
    height: 200px;
    width: 300px;
    position: absolute;
    top: 500px;
    left: 600px;
    /* background-color: blue;
    border: 3px solid yellow; */

}

.main-text {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.section {
    width: 100%;
    height: 600px;
    margin-top: 20px;
    /* position: relative; */
}

/* .section-img {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 550px;
    width: 50%;
}

.section-p {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 550px;
    width: 50%;
} */

/* .guitar-img, .section-p p {
    height: 500px;
    width: 500px; */
/* } */

.section-img, .section-p {
    height: 550px;
    width: 47%;
    border: solid 3px rgba(161,32,3);
    float: left;
    margin-left: 25px;

}

.guitar-img {
    height: 520px;
    width: 94%;
    padding: 20px;
}
.section-p p{
    padding: 20px;
}

.footer {
    background-color:rgba(161,32,3);
    height: 70px;
    width: 100%;
}

.footer div{
    width: 33%;
    float: left;
}

.footer-input, .social, .copy {
    display: block;
    text-align: center;
}

.footer-input input, .footer-input button {
    display: inline-block;
}

.footer-input input {
    height: 30px;
    width: 330px;
}

.footer-input button {
    height: 30px;
    width: 55px;
}

.social {
    margin-top: 25px;
}

.fab {
    font-size: 2em;
    color: white;
}

.footer-input {
    margin-top: 15px;
}

.copy {
    color: white;
    margin-top: 20px;
}


/******************About Styles**************/

.about-header {
    background-color: rgba(161,32,3);
    border: 3px solid black;
    height: 75px;
    width: 300px;
    position: absolute;
    top: 120px;
    left: 44%;
    border-radius: 20%;
    
}

.about-header h2 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    top: 130px;
    
}

.container {
    height: 700px;
    width: 100%;
    margin-top: 250px;
}

.container-box {
    height: 650px;
    width: 30%;
    border: 3px solid rgba(161,32,3);
    float: left;
    margin-left: 30px;
}

.container-box img {
    height: 290px;
    width: 400px;
}

.container-box iframe {
    height: 290px;
    width: 400px;
}

.container-box img, .container-box audio, .container-box iframe {
    display: block;
    margin: auto;
    /* margin-top: 20px; */
}

.container-box p {
    padding: 25px;

}

/******************Contact Styles**************/

.contact-section {
    height: 700px;
    width: 100%;
    background-color: rgba(161,32,3,.5);
    margin-top: 50px;
}

.contact-box {
    height: 550px;
    width: 45%;
    border: 3px solid black;
    float: left;
    margin-left: 55px;
    margin-top: 30px;
} 

.contact-header {
    background-color: rgba(161,32,3);
    border: 3px solid black;
    height: 60px;
    width: 300px;
    position: absolute;
    top: 130px;
    left: 100%;
}

.contact-header h2 {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
}

.map {
    text-align: center;
}



